.row {
    height: 50px;
}
.statusActive {
    background: url(../imgs/active.png) 50% 50% no-repeat;
}
.statusDone {
    background: url(../imgs/done.png) 50% 50% no-repeat;
}
.closeBtn {
    background: url("../imgs/closeBtn.png") 50% 100% no-repeat;
    background-size: 5% 20%;
}
.closeBtn:hover {
    transform: scale(1.1);
}
.hidden {
    display: none;
}